/* Шапка сайта  */

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 50px 91px 50px;
  column-gap: 36px;
}

.header__menu {
  font-size: 18px;
  align-self: center;
  justify-self: end;
}

.header__link-list {
  display: flex;
  gap: 34px;
  line-height: 110px;
  text-underline-offset: 5px;
}

.header__links-list-item {
  list-style-type: circle;
  padding: 0;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
  pointer-events: none;
}

.header__logo {
  width: 140px;
  height: 105px;
  padding: 0px 0px 0px 5px;
}

.header__link {
  display: block;
  white-space: nowrap;
}

.address {
  font-size: 18px;
  align-self: center;
  padding-left: 151px;
  text-underline-offset: 5px;
  line-height: 24.3px;
}

.header__address {
  font-weight: normal;
  font-style: normal;
}

.header_mail {
  text-underline-offset: 3px;
}

/* Конец шапки */

/* ---------------------------------------- */

/* Начало первой секции */

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 165px 50px 200px 50px;
  width: 1100px;
  height: 757px;
  max-width: 1100px;
}

.cover__title {
  position: relative;
  display: grid;
  z-index: 1;
  grid-template-columns: 1fr;
  grid-template-rows: 1.35fr 1.19fr 1fr;
  color: #fff;
  letter-spacing: 1.3em;
}

.aligned-text {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text_center {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 100px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.aligned-text_right {
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 100px;
  line-height: 1;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 0.586em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__description {
  display: flex;
  line-height: 28px;
  align-items: center;
  color: #fff;
  padding: 136px 27px 50px 26px;
  text-align: left;
  gap: 79px;
}

.cover__description-text {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
  white-space: nowrap;
  line-height: 28px;
  z-index: 1;
}

.bet-button {
  background-color: transparent;
  padding: 12px 32px 11px 31px;
  border: 1px solid #fff;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
  white-space: nowrap;
}

/* Конец первой секции */

/* ------------------------------------------- */

/* Начало втрой секции */

.lots {
  margin: 179px 24px 139px 24px;
}

.lots__heading {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 auto 27px 40px;
}

.lots__card-list {
  list-style: none;
  color: #fff;
  gap: 25px;
  position: relative;
  display: flex;
}

.lots__card-list-item {
  flex-direction: column;
}

.card {
  min-width: 334px;
  min-height: 563px;
  width: 334px;
  height: 563px;
  background-position: center;
  background-size: cover;
}

.card-link {
  all: unset;
  position: relative;
}

.card__title {
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 22px;
  padding: 51px 40px 0px 40px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.card__text-film {
  padding: 242px 40px 48px 40px;
}

.card__text-book {
  padding: 0px 40px 48px 40px;
}

.card__text-picture {
  margin: 96px 40px 48px 40px;
  padding-bottom: 48px;
}

.lots__look-more-link {
  position: relative;
  top: 30px;
  left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-underline-offset: 5px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  z-index: -1;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  z-index: -1;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  z-index: -1;
}

/* Конец второй секции */

/* -------------------------------------------- */

/* Начало третей секции */

.about {
  padding: 0 23px 0 25px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
}

.about__logo {
  grid-column: 1/1;
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  margin: auto;
  margin-top: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  max-width: 148px;
  max-height: 114px;
}

.about__text-container {
  margin-left: 24px;
}

.about__title {
  margin-top: 173px;
  margin-bottom: 101px;
  grid-column: 2/2;
  grid-row: 1/1;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  grid-column: 2/2;
  grid-row: 1/1;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.about__text-indent {
  margin-bottom: 25px;
}

/* Конец третей секции */

/* Начало футера */

.footer {
  display: grid;
  grid-template-columns: 0.81fr 1fr 0.81fr;
  margin-top: 179px;
  margin-bottom: 88px;
}

.footer__address {
  padding-left: 51px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-list-item {
  list-style: none;
  text-underline-offset: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 1px;
}

.footer__social-list-item {
  max-width: 48px;
  max-height: 48px;
  list-style: none;
}
